<div class="max-w-2xl mx-auto py-6">
    <h2 class="text-2xl font-semibold leading-tight text-gray-800">Ajouter une station</h2>
    <form #stationForm="ngForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mt-4">
        <div class="mb-4">
            <label for="nom" class="block text-gray-700 text-sm font-bold mb-2">nom:</label>
            <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nom" [(ngModel)]="station.nom" name="nom" required>
        </div>
        <div class="mb-4">
            <label for="ville" class="block text-gray-700 text-sm font-bold mb-2">ville:</label>
            <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="ville" [(ngModel)]="station.ville" name="ville" required>
        </div>
        <div class="mb-6">
            <label for="addresse" class="block text-gray-700 text-sm font-bold mb-2">addresse:</label>
            <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="addresse" [(ngModel)]="station.addresse" name="addresse" required>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [disabled]="stationForm.invalid">Create Station</button>
        </div>
    </form>
</div>
